
.container{
  font-family: Roboto;
  font-weight: 700
}
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/img/blueWave.PNG);
}
.logout{
  color: white!important;
  text-align: right;
  width:70vw
}
.main h1{
  text-align: center;
  font-size: 3em;
  font-weight: 200

}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}
.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.box{
  border-radius: 10px;
  background: #b1f3fe;
  /* box-shadow: inset 10px 10px 60px #00a3ff,
              inset -10px -10px 60px #caecff; */
  padding: 2em;
}
.row{
  display: flex;
  flex-direction: row;
  width: 60vw;
  margin: 1em;
  border-radius: 5px;
  background: #f4fcfe;
  align-items: center;
  justify-content:space-between;
  color: #4682B4;
  border: #00a3ff solid 2px;
  padding: 0.25em 1em;
}
.row button{
  background:white;
  border: 1px solid #00a3ff;
  color: #00a3ff
}
.row h2{
  margin-right:10px
}
.box:first-child div .row{
  background: white;
}
.text:hover{
  background: #00a3ff!important;
  color: white;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
